<h2>Volunteer Work</h2>
<% @volunteering.each do |org| %>
  <div rel="cv:hasWorkHistory" typeof="cv:WorkHistory">
    <h3>
      <a href="<%= org[:uri] %>" property="cv:employedIn" typeof="cv:Company">
        <span property="schema:name foaf:name"><%= org[:name] %></span>
      </a> - 
      <span property="cv:jobTitle"><%= org[:function] %></span>
      <p class="subtitle">
        <%= render '/__period.html.erb', started: org[:started], ended: org[:ended] %>
      </p>
    </h3>
    <% if org[:description] %>
      <p property="schema:description">
        <%= org[:description] %>
      </p>
    <% end %>
    <% if org[:desc_items] %>
      <%= render '/__desc_items.html.erb', items: org[:desc_items], property: "schema:description" %>
    <% end %>
  </div>
<% end %>
