<header id="about-me">
  <img id="profile-picture" src="img/profile2.jpg" property="schema:image foaf:img">
  <div id="name-contact">
    <h1 property="schema:name foaf:name"><%= @item[:name] %></h1>
    <div class="contact-items">
      <% @item[:links].each do |link| %>
        <%= contact_point link %>
      <% end %>
    </div>
  </div>
</header>
<main>
  <section id="page1" class="page">
    <section class="full-block">
      <% if @item[:description] %>
        <%= render '/_me.html.erb', description: @item[:description] %>
      <% end %>
    </section>
    <% if @item[:work].length > 0 %>
      <section id="work-experience" class="half-block">
        <%= render '/_work.html.erb', work: @item[:work] %>
      </section>
    <% end %>
    <section id="volunteer-work" class="half-block">
      <%= render "/_volunteering.html.erb", volunteering: @item[:volunteering] %>
    </section>
    <% if @item[:projects].length > 0 %>
      <section id="projects" class="full-block">
        <%= render "/_projects.html.erb", projects: @item[:projects] %>
      </section>
    <% end %>
  </section>
  <section id="page2" class="page">
    <section id="education" class="half-block">
      <h2>Achievements</h2>
      <% @item[:achievements].each do |achievement| %>
        <div rel="schema:hasCredential" typeof="schema:EducationalOccupationalCredential">
          <h3 property="schema:name"><%= achievement[:name] %>
            <p class="subtitle"><%= achievement[:date] %></p>
          </h3>
          <p property="schema:description">
            <%= achievement[:description] %>
          </p>
        </div>
      <% end %>
      <h2>Education</h2>
      <ul id="education-timeline">
        <li>
          <span class="education-year">Now</span>
        </li>
        <% @item[:education].each do |education| %>
          <li property="cv:hasEducation" typeof="cv:Education">
            <span hidden property="cv:degreeType" href="<%= edu_type education %>">
              <%= education[:type] %>
            </span>
            <a class="education-school" property="cv:studiedIn" href="<%= education[:uri] %>" typeof="cv:EducationalOrg">
              <span about="<%= education[:uri] %>" property="foaf:name schema:name">
                <%= education[:school] %>
              </span>
            </a>
            <span class="education-field" property="cv:eduDescription"><%= education[:field] %></span>
            <span class="education-year" property="cv:eduStartDate"><%= education[:started] %></span>
            <% if education[:ended] %>
              <span hidden property="cv:eduGradDate"><%= education[:ended] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
    <section id="skills" class="half-block">
      <h2>Skills</h2>
      <h3>Programming Languages</h3>
      <ul>
        <% @item[:programminglanguages].each do |quality| %>
          <li marker="<%= quality[:quality] %>" class="listify">
            <%# This is an ugly mess to remove whitespaces %>
            <%- quality[:languages].each do |language| -%>
              <span rel="cv:hasSkill" typeof="cv:Skill">
                <span property="cv:skillName"><%= language %></span>
                <span hidden property="cv:skillLevel"><%= quality[:quality] %></span>
              </span>
            <%- end -%>
          </li>
        <% end %>
      </ul>
      <h3>Tool experience</h3>
      <ul>
        <% @item[:tools].each do |tool| %>
          <li marker="<%= tool[:group] %>" rel="cv:hasSkill" typeof="cv:Skill" class="listify">
            <%- tool[:names].each do |name| -%>
              <span rel="cv:hasSkill" typeof="cv:Skill"><span property="cv:skillName"><%= name %></span></span>
            <%- end -%>
          </li>
        <% end %>
      </ul>
      <h3>Languages</h3>
      <ul>
        <% @item[:languages].each do |quality| %>
          <%# TODO: model using cv:LanguageSkill %>
          <%# (uses different levels for reading/writing) %>
          <li marker="<%= quality[:language] %>" rel="cv:hasSkill" typeof="cv:Skill">
            <span property="cv:skillLevel"><%= quality[:quality] %></span>
            <span hidden property="cv:skillName"><%= quality[:language] %></span>
          </li>
        <% end %>
      </ul>
      <h2>Personal</h2>
      <p>
        <%= @item[:personal] %>
      </p>
    </section>
  </section>
</main>
