<header id="about-me">
    <img id="profile-picture" src="img/profile.png">
    <div id="name-contact">
        <h1><%= @item[:name] %></h1>
        <div class="contact-items">
            <% @item[:links].each do |link| %>
            <span>
                <a href="<%= link[:uri] %>">
                    <i class="icon <%= link[:icon] %>"></i><%= link[:text] %>
                </a>
            </span>
            <% end %>
        </div>
    </div>
</header>

<main>
    <div id="education" class="half-block">
        <h2>Education</h2>
        <ul id="education-timeline">
            <li>
                <span class="education-year">Now</span>
            </li>
            <% @item[:education].each do |education| %>
            <li>
                <a class="education-school" href="<%= education[:uri] %>"><%= education[:school] %></a>
                <span class="education-field"><%= education[:field] %></span>
                <span class="education-year"><%= education[:started] %></span>
            </li>
            <% end %>
        </ul>
    </div>

    <div id="skills" class="half-block">
        <h2>Skills</h2>
        <h3>Programming Languages</h3>
        <ul>
        <% @item[:programminglanguages].each do |quality| %>
            <li marker="<%= quality[:quality] %>"><%= quality[:languages].join ", " %></li>
        <% end %>
        </ul>

        <h3>Languages</h3>
        <ul>
        <% @item[:languages].each do |quality| %>
            <li marker="<%= quality[:language] %>"><%= quality[:quality] %></li>
        <% end %>
        </ul>
    </div>

    <div id="projects" class="full-block">
        <h2>Project Highlights</h2>
        <div id="project-list">
            <% @item[:projects].each do |project| %>
            <div class="project">
                <h3><a href="<%= project[:uri] %>">
                    <i class="icon fa-brands fa-github"></i><%= project[:name] %>
                </a></h3>
                <div class="project-description"><%= project[:description] %></div>
                <% project[:languages].each do |language| %>
                    <span class="project-language"><%= language %></span>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>

    <div id="volunteer-work" class="half-block">
        <h2>Volunteer Work</h2>
        <% @item[:volunteering].each do |org| %>
            <h3><%= org[:function] %> at <a href="<%= org[:uri] %>"><%= org[:name] %></a></h3>
            <%= org[:description] %>
        <% end %>
    </div>

    <div id="achievements" class="half-block">
        <h2>Achievements</h2>
        <% @item[:achievements].each do |achievement| %>
            <h3><%= achievement[:name] %></a></h3>
            <%= achievement[:description] %>
        <% end %>
    </div>
</main>
